* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  background-color: #f3cecf;
}

.header .container .row .header-first-column .profile-img {
  width: 100%;
  border-radius: 50%;
}

.header .container .row .header-second-column {
  color: #fff;
}

.header .container .row .header-second-column .hello-text {
  font-weight: bold;
}

footer {
  padding-top: 2rem;
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#00093c), to(#2d0b00));
  background: linear-gradient(to right, #00093c, #2d0b00);
  border-top-left-radius: 120px;
}

footer .row {
  width: 85%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .row .col {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  padding: 10px;
}

footer .row .col ul .social-icon {
  width: 15%;
}

footer .row .col ul li {
  list-style: none;
  margin-bottom: 10px;
}

footer .row .col ul li a {
  text-decoration: none;
  color: #fff;
}
